<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP" alt="Logo Argentina Programa">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/linkedin.png" id="linkedin" alt="Enlace a linkedin"></a>
                <a href=""><img src="../../../assets/twitter.png" id="twitter" alt="Enlace a twitter"></a>
                <a href=""><img src="../../../assets/instagram.png" id="instagram" alt="Enlace a instagram"></a>
                <a href=""><img src="../../../assets/github.png" id="github" alt="Enlace a github"></a>
                <a href=""><img src="../../../assets/facebook.png" id="facebook" alt="Enlace a facebook"></a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
            </div>
        </div>
    </div>

</div>
